extends layout.pug

block content
  script(src="/javascripts/index.js")
  link(rel='stylesheet' href='/stylesheets/index.css')
  if locals.authenticated === false
    div(class="background")

      h1 Welcome to Two Left Thumbs!
      a(class='btn btn-danger'  href="/questions") View Questions
