doctype html
html
  body
    head
    link(rel='stylesheet' href='/stylesheets/index.css')
    nav(id=nav)
      a.navbar.brand(href='/') Two Left Thumbs
      input(type="text")
      .nav-links
        a.navbar.login(href='/users/login') Log in
        a.navbar.signup(href='/users/register') Sign Up
  block content
