doctype html
html
  body
    head
    link(rel='stylesheet' href='/stylesheets/index.css')
    nav
      a.navbar.brand(href='/') Two Left Thumbs
      input(type="text" placeholder="Search on Two Left Thumbs...")
      .nav_links
        a.nav_login(href='/users/login') Log in
        a.nav_signup(href='/users/register') Sign Up
  block content
