doctype html
html
  head
    link(rel="stylesheet", href="/stylesheets/reset.css")
    link(rel='stylesheet' href='/stylesheets/nav.css')
    script(src="https://kit.fontawesome.com/fbb21b998a.js" crossorigin="anonymous")
    <meta property="og:title" content="Project Title" />
    <meta property="og:image" content="project_pic.png" />
    <meta property="og:description" content="A brief description of your project"/>
    <meta property="og:url" content="https://programmer.github.io/project_name" />
    body
      nav
        a(href="/")
          img.nav_logo(src="https://cdn.worldvectorlogo.com/logos/stack-exchange-wordmark.svg")
        .searchBar_container
          input(type="text" id="searchBar" placeholder="Search on Two Left Thumbs...")
          button(type="submit" id="searchButton")
            i(class="fa fa-search" aria-hidden="true")
        .nav_links
          if locals.authenticated
            .nav_user #{locals.user.userName}
            form#authenticated(action='/users/logout' method='post' data-authenticated=`${locals.authenticated}`)
              button.nav_logout Logout
          else
            a.nav_login(href='/users/login') Log In
            a.nav_signup(href='/users/register') Sign Up
      .banner_container
      script(src="/javascripts/search.js")
    block content
