doctype html
html
  head
    link(rel="stylesheet", href="/stylesheets/reset.css")
    link(rel='stylesheet' href='/stylesheets/index.css')
    script(src="https://kit.fontawesome.com/fbb21b998a.js" crossorigin="anonymous")
    body
      nav
        a.nav_brand(href='/') Two Left Thumbs
        input(type="text" id="searchBar" placeholder="Search on Two Left Thumbs...")
        button(type="submit" id="searchButton") Search
        .nav_links
          if locals.authenticated
            form#authenticated(action='/users/logout' method='post' data-authenticated=`${locals.authenticated}`)
              button.nav_logout Logout
          else
            a.nav_login(href='/users/login') Log In
            a.nav_signup(href='/users/register') Sign Up
      script(src="/javascripts/search.js")
    block content
