extends layout.pug

block content
  h3= question.title
  div(class='py-4')
    p Proceed with deleting this question?
  div
    form.delete_question(action=`/questions/${question.id}/delete` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      button(class='btn btn-danger' type='submit') Delete Question
      a(class='btn btn-danger'  href=`/`) Cancel
      script(src="/javascripts/deletequestion.js")
