extends layout.pug

block content

    h2= `${question.title}`
    p= `${question.body}`
        a(class='btn btn-danger'  href=`/questions/${question.id}/edit`) Edit Question
        a(class='btn btn-danger'  href=`/questions/${question.id}/delete`) Delete Question
        a(class='btn btn-danger'  href=`/`) Cancel
