extends layout.pug

block content
  h3= question.title
  div(class='py-4')
    p Proceed with deleting this question?
  div
    form(action=`/questions/delete/${question.id}` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      button(class='btn btn-danger' type='submit') Delete Question
    form(action=`/` method='get')
      button(class='btn btn-danger' type='submit') Cancel
