extends layout.pug

block content

    h2= `${question.title}`
    p= `${question.body}`
        button(class='btn btn-danger' type='submit' href=`/questions/edit/${question.id}`) Edit Question
        button(class='btn btn-danger' type='submit' href=`/questions/delete/${question.id}`) Delete Question
        button(class='btn btn-danger' type='submit' href="/") Cancel
