extends layout.pug

block content
    .question_list_body
        if questions.length
            .questions_container
                .askQuestion_container
                    h2.questions_title Questions
                    .askQuestion_btn Ask Question
                each question in questions
                    .result_container
                        .question_votes_container
                            h3.question_votes_number  #{question.votes}
                            h3.question_votes votes
                        .question_answers_container
                            h3.question_answers_number #{question.answers}
                            h3.question_answers answers
                        .each_question
                            a(id="question" href=`/questions/${question.id}`) #{question.title}
                script(src="/javascripts/questionlist.js")

        else
            .noQuestionContainer
                p.noQuestion Question not found
    link(rel='stylesheet' href='/stylesheets/question-list.css')
