extends layout.pug

include utils.pug

block content
  div.errors_container
  form.edit_question(action=`/questions/${question.id}` method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('Title', 'title', question.title)
    label(for="body")= "Body"
    textarea(id="body" name="body") #{question.body}
    div(class='py-4')
      button(type='submit' class='btn btn-primary') Edit Question
      a(class='btn btn-danger'  href=`/`) Cancel
    script(src="/javascripts/editquestion.js")
