extends layout.pug

block content
    if questions.length
        div.questions_container
            h2.questions_title Questions
            .askQuestion_container
                .askQuestion_btn Ask Question
            each question in questions
                div.question_container
                    h3.question_votes Votes: #{question.votes}
                    h3.question_answers Answers: #{question.answers}
                    a(href=`/questions/${question.id}`) #{question.title}

        script(src="/javascripts/questionlist.js")
        link(rel='stylesheet' href='/stylesheets/question-list.css')

    else
        div.noQuestionContainer
            p.noQuestion Question not found
    link(rel='stylesheet' href='/stylesheets/question-list.css')
