extends layout.pug

block content
    ul
        each question in questions
            li= `${question.title}`
            form(action=`/questions/${question.id}` method='get')
                button(class='btn btn-danger' type='submit') View Question
