extends layout.pug

include utils.pug

block content
  div.errors_container
  form.add_question(action=`/questions` method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('Title', 'title', question.title)
    label(for="body")= "Body"
    textarea(id="body" name="body" value=question.body)
    div(class='py-4')
      button(type='submit' class='btn btn-primary') Add Question
      a(href=`/questions` class='btn btn-warning ml-2') Cancel
    script(src="/javascripts/addquestion.js")
