extends layout.pug

block content
    div.team_container
        div.team_container_body
            .team1
                img.teamImg1(src="https://i.imgur.com/xPJJISy.jpg", alt="")
                p Afton Slone
                .socialMedia_links
                    a(href='https://github.com/AftonSlone')
                        i.fa.fa-github
                    a(href="https://linkedin.com/in/afton-slone")
                        i.fa.fa-linkedin-square
            .team2
                img.teamImg2(src="https://i.imgur.com/xPJJISy.jpg", alt="")
                p Adam Guan
                a(href='https://github.com/AdamHGuan')
                    i.fa.fa-github
            .team3
                img.teamImg3(src="https://i.imgur.com/xPJJISy.jpg", alt="")
                p Victor Hou
                a(href='https://github.com/Thereal-victorhou')
                    i.fa.fa-github
            .team4
                img.teamImg4(src="https://i.imgur.com/xPJJISy.jpg", alt="")
                p Jason Zhou
                a(href='https://github.com/CroissantAhhh')
                    i.fa.fa-github
    link(rel='stylesheet' href='/stylesheets/team.css')
