extends layout.pug

block content
    div.team_container
        div.team_container_body
            .team1
                img.teamImg1(src="", alt="")
                i.fas.fa-user
                p test 1
                a(href='') GitHub
            .team2
                img.teamImg2(src="", alt="")
                i.fas.fa-user
                p test 1
                a(href='') GitHub              
            .team3
                img.teamImg3(src="", alt="")
                i.fas.fa-user
                p test 1
                a(href='') GitHub
            .team4
                img.teamImg4(src="", alt="")
                i.fas.fa-user
                p test 1
                a(href='') GitHub
    link(rel='stylesheet' href='/stylesheets/team.css')