

a {
  text-decoration: none;
  color: rgb(167, 3, 3);
  padding: 10px;
}

.questionPage_container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.questionPage_left {
  display: inline-flex;
  width: 10%;
  height: 30vh;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
  margin-right: 10px;
  left: 0;
}

.questionPageLeftLinks_container {
  width: 95%;
}

.questionPage_home {
  width: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questionPage_about {
  width: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questionPage_team {
  width: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ask_question_body_container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.page_title_container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 60%;
  /* padding-top: 1em;
  padding-bottom: 1em; */
}

/* #ask_a_question {
  color: white;
  font-size: 25px;
  margin-right: 49rem;
} */

.ask_question_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: white;
  backdrop-filter: blur(4.5px);
  border-radius: 3px;
  color: rgb(167, 3, 3);
}

.question_title_container {
  display: flex;
  margin: 1em;
  flex-direction: column;
  color: rgb(167, 3, 3);
}

.title_and_body {
  color: rgb(167, 3, 3);
}

#title_description {
  font-size: 12px;
  color: rgb(167, 3, 3);
  margin-top: 0.3em;
  margin-bottom: -0.7em;
}

.question_title_container #title_input {
  margin-top: 0.75em;
  width: 565px;
  height: 35px;
  border-top: 1px solid rgb(167, 3, 3);
  border-right: 1px solid rgb(167, 3, 3);
  border-left: 1px solid rgb(167, 3, 3);
  border-bottom: 1px solid rgb(167, 3, 3);
  border-radius: 3px;
  color: white;
  background-color: white;
  padding-left: 0.7em;
}

.question_body_container {
  display: flex;
  margin: 1em;
  flex-direction: column;
}

.question_body_container #body {
  margin-top: 1em;
  color: rgb(181, 181, 181);
  background-color: white;
  width: 565px;
  height: 350px;
  border-top: 1px solid rgb(167, 3, 3);
  border-right: 1px solid rgb(167, 3, 3);
  border-left: 1px solid rgb(167, 3, 3);
  border-bottom: 1px solid rgb(167, 3, 3);
  border-radius: 3px;
}

.ask_question_buttons_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em;
}

.submit_button {
  color: white;
  background-color: rgb(181, 0, 0);
  margin-left: 0.6em;
  width: 9em;
  height: 2.75em;
  font-size: 12px;
}

.submit_button:hover {
  background-color: rgb(148, 3, 3);
}

.cancel_button {
  font-size: 14px;
  align-self: center;
  margin-right: 0.6em;
  color: rgb(121, 121, 121);
}

.cancel_button:hover {
  color: rgb(165, 11, 11);
}

.sideboxes_container {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20em;
  width: 25em;
}

.question_instructions_container {
  width: 20em;
  height: 8.1em;
  padding: 10px;
}

.question_step_container {
  background-color: rgb(235, 239, 240);
  padding: 1em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid rgb(133, 133, 133);
}

#question_step {
  font-size: 14px;
  color: rgb(167, 3, 3);
}

.question_step_description_container {
  background-color: white;
  backdrop-filter: blur(4.5px);
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-top: 0.4em;
  height: 5em;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#question_step_description {
  font-size: 12px;
  color: rgb(167, 3, 3);
}

.helpful_links_container {
  width: 20em;
  height: 9.8em;
  margin-top: 1em;
  padding: 10px;
}

.helpful_link_box {
  background-color: rgb(235, 239, 240);
  padding: 1em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid rgb(133, 133, 133);
}

#link_box_title {
  font-size: 14px;
  color: rgb(167, 3, 3);
}

.link_box {
  background-color: white;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-top: 0.4em;
  height: 5em;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.help_links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 6.78em;
  padding: 1em;
  background-color: white;
}

.good_question {
  font-size: 12px;
  color: rgb(167, 3, 3);
}

.good_questions_link {
  font-size: 12px;
  color: rgb(53, 105, 150);
  border-bottom-style: hidden;
}

.good_questions_link:link {
  text-decoration: none;
}
.good_questions_link:visited {
  text-decoration: none;
}
.good_questions_link:active {
  text-decoration: none;
}
.good_questions_link:hover {
  text-decoration: none;
  color: rgb(37, 172, 222);
}

.lfg {
  font-size: 12px;
  color: rgb(167, 3, 3);
}

.lfg_link {
  font-size: 12px;
  color: rgb(53, 105, 150);
  border-bottom-style: hidden;
}

.lfg_link:link {
  text-decoration: none;
}
.lfg_link:visited {
  text-decoration: none;
}
.lfg_link:active {
  text-decoration: none;
}
.lfg_link:hover {
  font-size: 12px;
  color: rgb(37, 172, 222);
  text-decoration: none;
}
