.ask_question_body_container{
    display: flex;
    flex-direction: row;

}

.page_title_container {
    height: 1.7em;
}

#ask_a_question {
    font-size: 25px;
    margin-bottom: 1.2em;
    margin-left: 1em;
}

.ask_question_container {
    max-width: 600px;
    background-color: white;
    margin-left: 1.5em;
    border-radius: 3px;
    padding-bottom: .15em;
    max-width: auto;
    box-shadow: 0px 0px 4px 2px rgb(191, 191, 191);
}

.question_title_container{
    display: flex;
    margin: 1em;
    flex-direction: column;
}

#title_description{
    font-size: 12px;
    color: rgb(77, 76, 76);
    margin-top: .3em;
    margin-bottom: -.7em;
}

.question_title_container #title_input{
    margin-top: .75em;
    width: 565px;
    height: 35px;
    border-top: 1px solid rgb(194, 193, 193);
    border-right: 1px solid rgb(194, 193, 193);;
    border-left: 1px solid rgb(194, 193, 193);
    border-bottom: 1px solid rgb(194, 193, 193);
    border-radius: 3px;
    color: rgb(186, 183, 183);
    padding-left: .7em;
}

.question_body_container{
    display: flex;
    margin: 1em;
    flex-direction: column;
}

.question_body_container #body{
    margin-top: 1em;
    /* margin-bottom: 1em */
    width: 565px;
    height: 350px;
    border-top: 1px solid rgb(194, 193, 193);
    border-right: 1px solid rgb(194, 193, 193);;
    border-left: 1px solid rgb(194, 193, 193);
    border-bottom: 1px solid rgb(194, 193, 193);
    border-radius: 3px;
}

.ask_question_buttons_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: .5em;
}

.submit_button{
    color: white;
    background-color: rgb(167, 3, 3);
    margin-left: .6em;
    width: 9em;
    height: 2.75em;
    font-size: 12px;
}

.submit_button:hover{
    background-color: rgb(167, 3, 3);
}

.cancel_button{
    font-size: 14px;
    align-self: center;
    margin-right: .6em;
    color: rgb(77, 76, 76);
}

.cancel_button:hover{
    color: rgb(5, 95, 183);
}

.sideboxes_container{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20em;
    width: 25em;
    /* border: 1px solid black; */
}

.question_instructions_container{
    width: 20em;
    height: 8.1em;
    margin-left: 2em;
    box-shadow: 0px 0px 4px 2px rgb(191, 191, 191);
}

.question_step_container{
    background-color: rgb(235, 239, 240);
    padding: 1em;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid rgb(216, 216, 216);
}

#question_step{
    font-size: 14px;
    color: rgb(77, 76, 76);
}

.question_step_description_container{
    background-color: rgb(248, 248, 250);
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-top: .4em;
    height: 5em;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#question_step_description{
    font-size: 12px;
    color: rgb(65, 65, 65);
}

.helpful_links_container{
    width: 20em;
    height: 10em;
    margin-top: 1em;
    margin-left: 2em;
    box-shadow: 0px 0px 4px 2px rgb(191, 191, 191);

}

.helpful_link_box{
    background-color: rgb(235, 239, 240);
    padding: 1em;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid rgb(216, 216, 216);
}

#link_box_title{
    font-size: 14px;
    color: rgb(77, 76, 76);
}

.link_box{
    background-color: rgb(248, 248, 250);
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-top: .4em;
    height: 5em;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.help_links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 6.78em;
    padding: 1em;
    background-color: rgb(248, 248, 250);
}

.good_question{
    font-size: 12px;
    color: rgb(65, 65, 65);
}

.good_questions_link{
    font-size: 12px;
    color: rgb(167, 3, 3);
    border-bottom-style: hidden;
}

.good_questions_link:link{
    text-decoration: none;
}
.good_questions_link:visited{
    text-decoration: none;
}
.good_questions_link:active{
    text-decoration: none;
}
.good_questions_link:hover{
    text-decoration: none;
    color: rgb(167, 3, 3);;
}

.lfg{
    font-size: 12px;
    color: rgb(65, 65, 65);
}

.lfg_link{
    font-size: 12px;
    color: rgb(167, 3, 3);
    border-bottom-style: hidden;
}

.lfg_link:link{
    text-decoration: none;
}
.lfg_link:visited{
    text-decoration: none;
}
.lfg_link:active{
    text-decoration: none;
}
.lfg_link:hover{
    font-size: 12px;
    color: rgb(167, 3, 3);
    text-decoration: none;
}
