.questionPage_container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.questionPage_left {
  display: inline-flex;
  width: 20%;
  height: 30vh;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
}

.questionPage_middle {
  display: inline-flex;
  width: 60%;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
}

.questionTitle_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgba(59, 54, 54, 0.233);
  box-sizing: border-box;
  padding: 15px;
}

.questionTitle_container h2 {
 width: 89%;
}

.questionBody_container {
  display: flex;
  justify-content: right;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.questionBody_text {
  display: inline-flex;
  flex-direction: column;
  width: 90%;
  box-sizing: border-box;
  padding: 10px;
}

.questionVote_container {
  display: inline-flex;
  flex-direction: column;
  width: 10%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}

.answerBody_container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(59, 54, 54, 0.233);
  padding: 10px;
}

.answerBody_text {
  display: inline-flex;
  flex-direction: column;
  width: 90%;
  box-sizing: border-box;
  padding: 10px;
}

.answerVote_container {
  display: inline-flex;
  flex-direction: column;
  width: 10%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}

.question_options {
  display: flex;
  width: 100%;
  align-items: right;
  justify-content: right;
  box-sizing: border-box;
  padding: 10px;
}

.question_options div {
  display: inline-flex;
  width: 10%;
  height: 30px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: lightseagreen;
  color: linen;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin: 0px 5px;
}

.question_upVote {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  color: gray;
  height: 30px;
  box-sizing: border-box;
  padding: 10px;
}

.question_downVote {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  color: grey;
  height: 30px;
  box-sizing: border-box;
  padding: 10px;
}

.answer_voteContainer {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  width: 15%;
  margin: 5px;
  box-sizing: border-box;
  padding: 10px;
}

.answer_upVote {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  color: grey;
  height: 30px;
  box-sizing: border-box;
  padding: 10px;
}

.answer_downVote {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  color: grey;
  height: 30px;
  box-sizing: border-box;
  padding: 10px;
}

.askQuestion_container {
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 10px;
}

.askQuestion_btn {
  background-color: lightseagreen;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: linen;
  height: 30px;
  text-decoration: none;
  border-radius: 0.25rem;
  margin: 2px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 10px;
}

.add_answer {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
}

#body {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  padding: 10px;
}

.yourAnswer_container {
  width: 100%;
  display: flex;
  justify-content: left;
  padding: 10px;
}

.addAnswerBtn_container {
  width: 100%;
  display: flex;
  justify-content: left;
  padding: 10px;
}

.addAnswer_btn {
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.questionPage_right {
  display: inline-flex;
  width: 20%;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
}
