.register_container {
	color: rgb(63, 177, 52);
	background-color: rgba(135, 118, 118, 0.15);
	backdrop-filter: blur(4.5px);
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 40vh;
	margin: 10% 30%;
	border: 3px solid black;
	border-radius: 15px;
	padding: 15px 10% 20% 10%;
	text-decoration: none;
}

.register_title {
	padding-bottom: 15px;
	font-weight: 700;
	font-size: 27px;
	position: relative;
	text-align: center;
	top: 10%;
	text-decoration: none;
}

.register_form > * {
	padding: 9px;
}

.RegisterBtn {
	background-color: rgb(167, 3, 3);
	color: linen;
	width: 20%;
	height: 30px;
	padding: 10px;
	text-decoration: none;
	margin-left: 10px;
	font-size: 14px;
	padding-top: 6px;
}

.demo_user {
	background-color: rgb(167, 3, 3);
	color: linen;
	width: 20%;
	height: 30px;
	padding: 6px;
	margin-left: 20px;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
	border-radius: 0.25rem;
}

.cancelBtn {
	background-color: rgb(167, 3, 3);
	color: linen;
	width: 20%;
	height: 30px;
	padding: 6px;
	margin-left: 20px;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
	border-radius: 0.25rem;
}
